.container {
  position: relative;
  height: 60vh;
  width: 60%;
  margin-top: 5%;
  left: 20%;
  background-color: #bfc0c0;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
h1{
  color:#2d3142
}
.form{
  border: 1px solid black;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}